@font-face {
  src: url("Grinched.ttf");
  font-family: Grinched;
}
body {
  background-color: #F58829;
}
p {
  color: yellow;
  font-family: Grinched;
}
p.indent {
  color: yellow;
  font-family: serif;
  text-indent: 3.125em;
}
h1, h2, h3, h4, h5, h6 {
  color: yellow;
  text-align: center;
  font-family: Grinched;
}
.verticalnav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
  background-color: red;
}
.verticalnav li a {
  color: orange;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: Grinched;
}
.verticalnav li a:hover {
  background-color: #ff1a1a;
}
hr {
  border: 1px dotted yellow;
}
