body {
  background-color: #F58829;
}
p {
  color: yellow;
}
h1, h2, h3, h4, h5, h6 {
  color: yellow;
  text-align: center;
}
.verticalnav {
  position: relative;
  top: 0;
  left: 0;
  list-style-type: none;
  padding: 0;
  width: 200px;
  background-color: red;
}
.verticalnav li a {
  color: orange;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
.verticalnav li a:hover {
  background-color: #ff1a1a;
}
